div {outline: 1px solid #ff00ff}
header, footer {outline: 1px solid white}
nav, section, article {outline: 1px solid yellow}
li, ul, fieldset {outline: 1px solid red}
form button, p{outline: 1px solid blue}
a, span, img, input, b{outline: 1px solid brown}

body {
	position: relative;
	padding: 0;
	margin: 0 auto;
	width: 1200px;
	font-size: 16px;
	line-height: 22px;
	background-image: linear-gradient(180deg, #9cb0a5 0%, #849d8f 40%);
	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
}

.background {
	background-image: none;
	background-color: #849d8f;
}

body > input {
	display: none;
}

.blue-color {
	background-color: #8996a6;
}

.brown-color {
	background-color: #9d8b84;
}

.site-wrapper {
	background: #849d8f;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 48px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;/*в макете medium*/
}

input {
	font-family: "Roboto", "Arial", sans-serif;
	color: #353535;
	font-weight: bold;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	border-radius: 5px;
}

input::-webkit-input-placeholder{
	color: #9b9b9b;
	font-weight: normal;
}

input::-moz-placeholder {
	color: #9b9b9b;
	font-weight: normal;
}

input:-moz-placeholder{
	color: #9b9b9b;
	font-weight: normal;
}

input:-ms-input-placeholder {
	color: #9b9b9b;
	font-weight: normal;
}


input:hover {
	box-shadow: 0 0 0 2px #c7c6c5;
}

input:focus {
	box-shadow: 0 0 0 2px #8fbdec;
	outline: none;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}


input:focus::-moz-placeholder {
	color: transparent;
}


input:focus:-moz-placeholder {
	color: transparent;
}


input:focus:-ms-input-placeholder {
	color: transparent;
}


.contact-form textarea {
	font-family: "Roboto", "Arial", sans-serif;
	display: block;
	color: #353535;
	font-weight: bold;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	border-radius: 5px;
}

textarea::-webkit-input-placeholder{
	color: #9b9b9b;
	font-weight: normal;
}

textarea::-moz-placeholder {
	color: #9b9b9b;
	font-weight: normal;
}

textarea:-moz-placeholder {
	color: #9b9b9b;
	font-weight: normal;
}

textarea:-ms-input-placeholder {
	color: #9b9b9b;
	font-weight: normal;
}

.contact-form textarea:hover {
	box-shadow: 0 0 0 2px #c7c6c5;;
}

.contact-form textarea:focus {
	box-shadow: 0 0 0 2px #8fbdec;
	outline: none;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.pop-up {
	display: none;
}


.pop-up-style {
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.center {
	width: 1146px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-image: linear-gradient( #f26843, #e74a35);
	box-shadow: 0 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 45px;
	outline: none;
}

.btn:hover {
	background-image: linear-gradient(#f58669, #ec6f5e);
	box-shadow: 0 2px 5px 0px rgba(160, 32, 11, 0.76);
}

.btn:active {
	background-image: linear-gradient(#d74632, #e1613e);
	box-shadow: inset 0 2px 2px 0px #952718;
	outline: none;
}


/*###################################################header#####################################################*/

.main-header {
	position: relative;
	padding-left: 20px;
	padding-right: 27px;
}

.logo {
	position: relative;
	z-index: 1;
	float: left;
	width: 160px;
	padding-top: 9px;
	padding-left: 1px;
}

.main-navigation {
	position: relative;
	z-index: 1;
	float: left;
	width: 696px;
	min-height: 80px;
	margin-right: 26px;
}

.main-menu {
	margin: 0;
	padding: 22px 9px;
	font-size: 0; 
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.first-menu-level > a {
	display: block;
	padding: 6px 14px;
	font-weight: bold;
	color: #ffffff; 
}

.first-menu-level > a:hover {
 	color: #333333; 
 	text-decoration: none;	
	background: #f7f6f3;
	border-radius: 20px;
}

.first-menu-level > a:active {
	box-shadow: inset 0 2px 0 0 #686868;
}

.nav-active > a,
.nav-actve > span {
	text-decoration: none;
	background: #d07058;
	border-radius: 20px;
}

.nav-active:hover > a{
	color: #ffffff;
	background: #d07058;
}

.wrapper-search-user {
	position: relative;
	z-index: 1;
	float: left;
	width: 270px;
	min-height: 80px;
}

 .loupe {
	position: absolute;
	top: 22px;
	left: 8px;
	width: 32px;
	height: 32px;
	background: rgba(255, 255 ,255 ,0.2) url("../img/header/loupe.svg") no-repeat 9px;
	border-radius: 100%;

}

.loupe:hover {
	background: #f8f7f4 url("../img/header/black-loupe.svg") no-repeat 9px;;
}

.user-block {
	position: relative;
	width: 228px;
	margin-left: 42px;
	padding-top: 22px;
	padding-bottom: 20px;
	font-size: 0;
}

.user-block > a {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 44px;
	padding-right: 16px;
	vertical-align: top;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff; 
	font-weight: 500;
	text-decoration: none;
	background: rgba(255, 255 ,255 ,0.2);
	border-radius: 45px;
}

.user-block .login::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: url("../img/header/enter.svg") no-repeat;

}

.user-block .login:hover {
	color: #333333;
	background: #f8f7f4;
}

.user-block .login:hover::after {
	background: #f8f7f4 url("../img/header/black-enter.svg") no-repeat;
}

.user-block .cart {
	position: relative;
	z-index: 0;
	margin-left: 10px;
	padding-right: 34px;
}

.user-block .cart::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: url("../img/header/cart.svg") no-repeat;
}

.user-block .cart:hover {
	color: #333333; 
	text-decoration: none;
	background: #f8f7f4;
}

.user-block .cart:hover::after {
	background: url("../img/header/black-cart.svg") no-repeat;
}

.user-block .cart-full {
	margin-left: 9px;
	padding-right: 17px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 44px;
	color: #333333; 
	text-decoration: none;
	background: #f8f7f4;
}

.user-block .cart-full::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: url("../img/header/black-cart-full.svg") no-repeat;
}

.extra {
	position: absolute;
	top: 70px;
	right: 27px;
}


.extra p {
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
	text-align: right;
	letter-spacing: 0.1px;
}

.extra b {
	font-size: 22px;
	line-height: 29px;
	text-align: right;
	letter-spacing: 0.2px;
}


/*########################################################footer################################################*/
.main-footer {
	width:1200px;
	padding: 0 27px;
	padding-left: 26px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-line {
	padding-top: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
	float: left;
	width: 267px;
	min-height: 63px;
	margin-right: 26px;
	padding-top: 38px;
	font-size: 0;
}

.catalog-footer-social {
	min-height: 74px;
	margin-left: -2px;
	padding-top: 22px;
}

.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 5px;
	margin-right: 12px;
	font-size: 0;
	vertical-align: top;
	border-radius: 100%;
	box-shadow: 
	0 0 0 3px #c2cec7,
	inset 0 0 0 4px rgba(255, 255, 255, 0.8);
	opacity: 0.8;
}

.social-btn:hover {
	box-shadow: 
	0 0 0 4px #dbe3de,
	inset 0 0 0 4px rgba(255, 255, 255, 0.98);
	opacity: 0.98;
}

.social-btn:active {
	box-shadow:
	0 0 0 4px #dbe3de, 
	inset 0 2px 1px 0 #888888,
	inset 0 0 0 4px rgba(255, 255, 255, 0.8);
	opacity: 0.8;
}

.social-btn-tv {
	background: url("../img/footer/twitter.svg") no-repeat 1px;
}

.social-btn-inst {
	background: url("../img/footer/instagram.svg") no-repeat 1px;
}

.social-btn-fb {
	background: url("../img/footer/facebook.svg") no-repeat 1px;
}

.social-btn-vk {
	background: url("../img/footer/vk.svg") no-repeat 1px;
}

.footer-information {
	float: left;
	width: 560px;
	min-height: 66px;
	margin-right: 100px;
	padding-top: 34px;
}

.catalog-footer-information {
	min-height: 82px;
	margin-left: 2px;
	padding-top: 17px;
}

.footer-information a {
	display: inline-block;
	width: 170px;
	vertical-align: top;
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
}

.footer-information a:nth-child(2n+1) {
	width: 120px;
	margin-left: 129px;
	margin-right: 19px;
}

.footer-information a:hover {
	color: #ffbc9e;
}

.footer-information .providers {
	position: relative;
	font-weight: bold;
}

.footer-information .providers::after {
	content: "";
	position: absolute;
	top: 3px;
	left: -20px;
	width: 15px;
	height: 15px;
	background: url("../img/footer/heart.svg") no-repeat;
}

.footer-copyright {
	float: right;
	margin-right: -5px;
	width: 193px;
	min-height: 65px;
	padding-top: 19px;
}

.footer-copyright img {
	display: block;
	margin-top: 1px;
	margin-bottom: 1px;
}

.footer-copyright span {
	font-size: 12px;
	line-height: 16px;
}

.footer-copyright span:first-child {
	display: inline-block;
	margin-left: 78px;
	vertical-align: top;
}

.footer-copyright a {
	color: #ffffff;
	font-size: 12px;
	line-height: 16px;
}

.footer-copyright a:hover {
	color: #ffbc9e;
}



/*######################################################goods######################################################*/
.goods {
	font-size: 0;
}

.goods-item {
	position: relative;
	z-index: 0;
	display: inline-block;
	width: 279px;
	min-height: 340px;
	margin-right: 14px;
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 22px;
	vertical-align: top;
}

.goods-item:hover {
	z-index: 1;
	margin-bottom: -48px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.goods-item:hover a {
	text-decoration: none;
}

.goods-item:nth-child(4n) {
	margin-right: -6px;
}

.goods-item:nth-child(4n+1) {
	margin-left: -6px;
}

.goods-item:nth-child(n+5) {
	margin-top: -7px;
} 

.goods-item:nth-child(n+9) {
	margin-top: -5px;
} 

.item-image {
	width: 267px;
	height: 267px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.price-absolute {
	position: absolute;
	top: 208px;
	left: 5px;
	font-size: 0;
	text-shadow: 2px 2px 3px rgba(49, 50, 53, 0.5);
} 

.item-price {
	font-size: 45px;
	line-height: 59px;
	font-weight: bold;
	letter-spacing: 0px;
	word-spacing: -6px;
}

.ru-image {
	display: inline-block;
	margin-left: 4px;
	margin-bottom: 9px;
	vertical-align: bottom;
}

.item-weight {
	font-size: 30px;
	line-height: 39px;
	font-weight: bold;
}

.goods-item a {
	display: block;
	padding: 0 6px;
	color: #ffffff;
	text-align: center;
}

.goods-item a:hover {
	color: #ffbc9e;
	text-decoration: underline;
}


.goods-item .short-contaner {
	margin: 0 12px;
}

.goods-item .btn {
	display: none;
	margin-top: 13px;
	margin-left: 46px;
	margin-bottom: 22px;
	padding: 8px 27px;
	font-size: 15px;
	line-height: 24.3px;
}

.goods-item:hover .btn {
	display: block;
}
 
.hit::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	width: 61px;
	height: 61px;
	background: #ffffff url("../img/index/hit.png") no-repeat;
	border-radius: 100%;
}

/*##################################################################################################################*/
/*######################################################index#####################################################*/
/*##################################################################################################################*/

/*######################################################slider####################################################*/
.slider {
	position: relative;
	min-height: 230px;
	margin-top: 300px;
	margin-bottom: 37px;
}

.slider-image {
	position: absolute;
	top:-380px;
	left: 50%;
	z-index: 0;
	transform: translate(-50%);
	width: 1046px;
}

.slider p,
.slider a {
	position: relative;
	z-index: 1;
}

.slider p {
	width: 680px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0;
	padding-top: 12px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 900;
	text-align: center;

}
.slider a {
	display: block;
	width: 280px;
	margin: 0 auto;
	font-size: 31.48px;
	line-height: 62.93px;
	text-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}



.slide-raspberry,
.slide-lemon,
.slide-strawberry {
	display: none;
}

.slide-strawberry p {
	width: 650px;
}

.sliders-nav {
	position: absolute;
	bottom: 25px;
	z-index: 1;
	width: 150px;
}

.drop {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	vertical-align: top;
	outline: none;
	cursor: pointer;
}

.drop:hover {
	background: rgba(248, 247, 244, 0.4);
}

.drop:active {
	background: #ffffff;
}

#slide1:checked ~ .site-wrapper {
	background: #849d8f;
}

#slide2:checked ~ .site-wrapper {
	background: #8996a6;
}

#slide3:checked ~ .site-wrapper {
	background: #9d8b84;
} 

#slide1:checked ~ .site-wrapper .slide-raspberry {
	display: block;
}

#slide2:checked ~ .site-wrapper .slide-lemon {
	display: block;
}

#slide3:checked ~ .site-wrapper .slide-strawberry {
	display: block;
}


#slide1:checked ~ .site-wrapper .drop-first {
	background: #ffffff;
}

#slide2:checked ~ .site-wrapper .drop-second {
	background: #ffffff;
}

#slide3:checked ~ .site-wrapper .drop-third {
	background: #ffffff;
}
/*######################################################banners##########################################################*/
.banners {
	position: relative;
	z-index: 1;
	margin-bottom: 34px;
}

.banner {
	float: left;
	width: 560px;
	min-height: 214px;
	padding-bottom: 15px;
	border-radius: 15px;
}

.banner h2 {
	margin: 0;
	padding: 12px 18px; 
}

.banner p {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	padding-left: 19px;
	padding-right: 17px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	word-spacing: 0.3px;
}

.banner a {
	float: right;
	margin-right: 21px;
	padding: 0 21px;
	padding-top: 12px;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 18px;
	background-image: linear-gradient(#f26843, #ca3824);
}


.banner-first {
	margin-right: 26px;
	background: #8c0010 url("../img/index/banner/raspberry-background.png");
}

.banner-first a {
	margin-top: 4px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 23px;
	padding-right: 23px;
}

.banner-second {
	background: #61381d url("../img/index/banner/chocolate-background.png");
}

.banner-second h2 {
	padding-top: 10px; 
}

/*#####################################################advantage##########################################################*/
.advantages {
	min-height: 285px;
	margin-bottom: 40px;
	padding-top: 1px;
	padding-bottom: 20px;
	font-size: 0;
	background: #e3d1ab url("../img/index/advantages/wafer1.jpg");
	border-radius: 15px;
}
.advantages h3 {
	margin: 0;	
	margin-bottom: 5px;
	padding: 0;
	padding-top: 24px;
	padding-left: 20px;
	word-spacing: 0.2px;
}

.advantages ul {
	padding: 0;
}

.advantages li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 560px;
	min-height: 85px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 26px;
	padding-top: 16px;
	padding-left: 76px;
	list-style-type: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}
.advantages li::after {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
}

.advantages li:nth-child(2n) {
	margin-right: 0;
	padding-left: 58px;
}

.advantages li:nth-child(n+3) {
	padding-top: 19px;
}

.advantages li:last-child {
	padding-right: 15px;
}

.advantages li:first-child::after {
	top: 4px;
	left: 21px;
	background: url("../img/index/advantages/ice-cream-icon.svg") no-repeat;
}

.advantages li:nth-child(2)::after {
	top: 4px;
	left: 1px;
	background: url("../img/index/advantages/cow-icon.svg") no-repeat;
}

.advantages li:nth-child(3)::after {
	top: 7px;
	left: 21px;
	background: url("../img/index/advantages/leaf-icon.svg") no-repeat;
}

.advantages li:last-child::after {
	top: 7px;
	left: 1px;
	background: url("../img/index/advantages/thermometer-icon.svg") no-repeat;
}

/*#####################################################news-subs######################################################*/
.wrapper-news-subs {
	min-height: 220px;
	margin-bottom: 39px;
}

.news-subs	{
	width: 560px;
	min-height: 205px;
}

.news {
	float: left;
	padding-bottom: 15px;
	background: #ffffff url("../img/index/strawberry-background.jpg") no-repeat -52px -225px;
	border-radius: 15px;
}

.news h4 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-top: 22px;
	padding-left: 18px;
	color: #5a5a5a;
	font-weight: 500;
}

.news a {
	display: block;
	width: 300px;
	margin-top: 4px;
	margin-bottom: 10px;
	padding-left: 18px; 
	color: #353535;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

.news a:hover {
	color: #ec5939;
}

.subscription {
	float: right;
	min-height: 220px;
	background: #f8f7f4 url("../img/index/zip-background.png") no-repeat;
	border-radius: 15px;
}

.subscription p {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
	padding-top: 33px;
	padding-left: 25px;
	padding-right: 20px;
	line-height: 22px;
	color: #5a5a5a;
}

.subscription-form {
	padding-left: 26px;
}

.subscription-form input {
	width: 349px;
	margin-right: 8px;
	padding: 0px 9px;
	padding-top: 11px;
	padding-bottom: 12px;
}

.subscription-form button {
	margin-top: -2px;
	padding: 0 21px;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 17px;
	line-height: 24,3px;
}
 


/*#################################################location#########################################################*/
.location {
	width: 1200px;
	position: relative;
	margin-left: -27px;
}
.map-image {
	width: 1200px;
	height: 430px;
}

.contacts {
	position: absolute;
	right: 27px;
	top: 65px;
	background: #fdfefe;
	border-radius: 15px;
}

.contacts p {
	padding-left: 25px;
	padding-right: 56px;
	color: #343434;
	font-size: 14px;
	line-height: 20px;
}

.contacts b {
	font-size: 18px;
	line-height: 24px;
}

.adress {
	margin-bottom: 18px;
	padding-top: 15px;
}

.adress b {
	display: block;
	margin-top: 1px;
}

.phone {
	margin-bottom: 24px;
}

.phone b {
	display: block;
	margin-top: 4px;
	margin-bottom: -18px;
}

.contacts a {
	margin-left: 26px;
	margin-bottom: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 33px;
	font-size: 17px;
	line-height: 24.3px; 
}


/*##################################################################################################################*/
/*##############################################################catalog###############################################*/
/*######################################################################################################################*/

/*###########################################################..breadcrumbs###############################################*/

.breadcrumbs {
	margin: 0;
	margin-top: 14px;
	margin-left: -1px;
	padding: 0;
	list-style: none; 
}

.breadcrumbs li {
	display: inline;
	padding-top: 1px;
	font-size: 0;
}

.breadcrumbs a {
	position: relative;
	color: #ffffff;
	font-size: 14px;
	line-height: 19px;
	margin-right: 16px;
	text-decoration: none;
}

.breadcrumbs a::before {
	content: "»";
	position: absolute;
	top: -1px;
	right:-13px;
	font-size: 14px;
}

.breadcrumbs a:hover {
	color: #ffbc9e;
}

.breadcrumbs a:hover::before {
	color: #ffffff;
}

.breadcrumbs span {
	font-size: 14px;
	line-height: 19px;
}
/*###############################################################main>h1##################################################*/
main>h1 {
	margin: 0;
	margin-bottom: 24px;
	margin-left: -1px;
	padding: 0;
}

/*############################################################filters###################################################*/

.filters-form {
	min-height: 140px;
	margin-bottom: 13px;
}

.filters-form fieldset {
	border: none;
}

.filters-form legend {
	display: block;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
}

.filter {
	display: inline-block;
	vertical-align: top;
	min-height: 65px;
}

.filter-sort {
	width: 195px;
	margin-right: 10px;
}

.filter-sort label {
	position: relative;
	display: block;
	margin-top: 4px;
	margin-left: 15px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
}

.filter-sort select {
	margin-top: 4px;
	padding: 8px 13px;
	padding-left: 10px;
	font-weight: 500;
	background: rgba(248, 247, 244, 0.2);
	border: none;
	border-radius: 20px;
}

.filter-sort select:hover {
	color: #343434;
	background: #ffffff;
}

.filter-sort select:focus {
	color: #343434;
	background: #ffffff;
	outline: none;
}

.filter-sort option {
	font-size: 14px;
	line-height: 19px;
}

.filter-decor {
	background: rgba(248, 247, 244, 0.2);
	border-radius: 20px;
}

.filter-price {
	width: 220px;
	margin-right: 7px;
	margin-top: 1px;
}

.filter-price label {
	margin-left: 15px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
} 

.filter-price span {
	margin-left: -9px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
}

.filter-price input {
	width: 25px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 500;
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

.filter-price .filter-decor {
	position: relative;
	width: 218px;
	height: 35px;
	margin-top: 4px;
	padding-top: 1px;
}

.filter-decor .range-scale {
	width: 188px;
	height: 4px;
	margin: auto;
	margin-top: 15px;
	background: rgba(248, 247, 244, 0.5);
}

.range-scale .range-bar {
	margin-left: 30px;
	width: 100px;
	height: 4px;
	background: #f8f7f4;
}

.filter-decor .range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #f8f7f4;
	border-radius: 100%;
}

.filter-decor .min-toggle {
	top: 8px;
	left: 35px;
	cursor: pointer;
}

.filter-decor .max-toggle {
	top: 8px;
	left: 132px;
	cursor: pointer;
}

.filter-fat {
	width: 550px;
	margin-top: 3px;
	padding-top: 3px;
	padding-left: 0;
	padding-bottom: 0;
}

.filter-fat .filter-decor {
	width: 415px;
	padding-top: 6px;
	padding-bottom: 7px;
}

.filter-fat legend {
	margin-left: 15px;
	margin-bottom: 3px;
}

.filter-fat input[type="radio"] {
	display: none;
}

.filter-fat label {
	position: relative;
	margin-left: 46px;
	font-weight: 500;
}

.filter-fat label:last-of-type {
	margin-left: 45px;
}

.filter-fat label::after {
	content:"";
	position: absolute;
	top: 1px;
	left: -29px;
	width: 18px;
	height: 18px;
	background: rgba(248, 247, 244, 0.13);
	box-shadow: 0 0 0 1px #ffffff,
	inset 0 0 0 4px #b1c0b6;
	border-radius: 100%;
}

.filter-fat label:hover::after {
	top: 2px;
	left: -28px;
	width: 16px;
	height: 16px;
	box-shadow: 
	0 0 0 2px #f8f7f4,
	inset 0 0 0 3px #b1c0b6;
}

input[type="radio"]:checked + label::after {
	background: #f8f7f4;
}

input[type="radio"]:checked + label:hover::after {
	background: #f8f7f4;
	box-shadow: 
	0 0 0 2px #f8f7f4,
	inset 0 0 0 3px #b1c0b6;
}

input[type="radio"]:disabled + label::after {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

input[type="radio"]:disabled + label:hover::after {
	top: 1px;
	left: -29px;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	border: 4px solid transparent;
}



.filter-fillers {
	width: 711px;
	margin-top: 6px;
	padding-left: 0;
	padding-right: 0;

}

.filter-fillers .filter-decor {
	width: 703px;
	margin-left: -2px;
}

.filter-fillers legend {
	margin-left: 14px;
}

.filter-fillers input[type="checkbox"] {
	display: none;
}

.filter-fillers label {
	position: relative;
	display: inline-block;
	padding-top: 6.5px;
	padding-bottom: 7.5px;
	padding-left: 47px;
	vertical-align: top;
	font-weight: 500;
}

.filter-fillers label:nth-of-type(n+3) {
	padding-left: 50px;
}

.filter-fillers label::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 18px;
	width: 18px;
	height: 18px;
	background: rgba(248, 247, 244, 0.13);
	box-shadow: 0 0 0 1px #ffffff;
	border-radius: 3px;
}

.filter-fillers label:nth-of-type(4)::after {
	left: 20px;
}

input[type="checkbox"]:checked + label::after {
	width: 18px;
	height: 18px;
	background: rgba(248, 247, 244, 0.13) url("../img/catalog/filter/checkbox-checked.svg") no-repeat -1px -1px;
	box-shadow: 
	0 0 0 1px #ffffff,
	inset 0 0 0 2px #b1c0b6;
}

input[type="checkbox"]:disabled + label::after {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

.filter-fillers label:hover::after {
	top: 10px;
	left: 19px;
	width: 16px;
	height: 16px;
	box-shadow: 0 0 0 2px #ffffff;
}

.filter-fillers label:nth-of-type(4):hover::after {
	left: 21px;
}

input[type="checkbox"]:checked + label:hover::after {
	top: 9px;
	left: 18px;
	width: 18px;
	height: 18px;
	background: rgba(248, 247, 244, 0.13) url("../img/catalog/filter/checkbox-checked.svg") no-repeat -1px -1px;
	box-shadow: 0 0 0 1px #ffffff,
	inset 0 0 0 1px #ffffff;
}

input[type="checkbox"]:disabled + label:hover::after {
	top: 9px;
	left: 18px;
	width: 18px;
	height: 18px;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:checked + label:nth-of-type(4):hover::after {
	left: 20px;
}

.filters-form .btn {
	margin-top: 33px;
	margin-left: -1px;
	padding: 0 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
	background: rgba(248, 247, 244, 0.2);
	box-shadow: 0 0 0 2px #ffffff;
}

.filters-form .btn:hover {
	color: #363636;
	background: #fafbfb;
}

.filters-form .btn:active {
	margin-top: 31px;
	margin-left: -3px;
	padding: 0 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	background: #eaeaea;
	border: none;
	box-shadow: inset 0 2px 1px 0 #696969;
}



/*#####################################################paginator######################################################*/
.paginator {
	float: right;
	width: 210px;
	min-height: 36px;
	margin-top: 38px;
	margin-bottom: 13px;
	padding-top: 5px;
	padding-left: 7px;
	font-size: 0;
	text-align: right;
}

.paginator ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.paginator li {
	display: inline-block;
	vertical-align: top;

}

.paginator span,
.paginator a {
	display: block;
	width: 25px;
	height: 23px;
	padding-top: 2px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	font-weight: 500;
	vertical-align: top;
	border-radius: 100%;

}

.paginator span {
	color: #353535;
	background: #ffffff;
}

.paginator a {
	text-decoration: none;
	color: #ffffff;
}
.paginator li:nth-of-type(-n+5) {
	margin-right: 4px;
}

.paginator a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
	color: #353535;
	background: #ffffff;
}

.paginator .prev {
	position: relative;
	font-size: 0;
	background: transparent;
}

.paginator .prev::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	font-size: 16px;
	background: url("../img/catalog/prev.svg") no-repeat 5px 7px;
}

.paginator .next {
	position: relative;
	font-size: 0;
}

.paginator .next:hover {
	background: none;
}

.paginator .next:active {
	background: none;
}


.paginator .next::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	font-size: 16px;
	background: url("../img/catalog/next.svg") no-repeat 0px 7px;
	border-radius: 100%;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
/*###################################################################################################################################
###########################################################pop-up####################################################################
#####################################################################################################################################*/

/*##########################################################navigation-second-menu####################################################*/
.catalog {
	position: relative;
}

.catalog .container-menu {
	position: absolute;
	top: 28px;
	left: -6px;
	padding-top:10px;
}

.catalog:hover .container-menu {
	display: block;
}

.catalog .second-menu {
	min-width: 143px;
	padding: 5px 0;
	list-style: none;
}

.second-menu li {
	display: block;
	margin-bottom: 5px;
}

.second-menu li:first-child {
	margin-bottom: 4px;
	font-weight: bold;
}

.second-menu li:nth-last-child(2) {
	margin-bottom: 5px;
}

.second-menu li:last-child {
	margin-bottom: 0px;
}

.second-menu a,
.second-menu span {
	display: block;
	padding: 4px 0;
	padding-left: 20px;
	font-size: 14px;
	line-height: 19px;
	color: #343434;
	text-decoration: none;
}

.second-menu .new {
	position: relative;
}

.new a,
.new span {
	padding-top: 5px;
	padding-bottom: 10px;
}

.second-menu span {
	color: #ffffff;
	background: #d07058;
}

.second-menu a:hover {
	background: #fbded7;
}

.second-menu a:active {
	background: #f6b5a5;
}

.second-menu .new::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 129px;
	height: 1px;
	background: #d1d0ce;

}

/*#######################################################search############################################################################*/
.loupe .container-search {
	position: absolute;
	top: 26px;
	right: 0;
	padding-top: 10px;
}

.loupe:hover .container-search {
	display: block;
}

.search input {
	width: 288px;
	margin: 16px;
	margin-right: 15px;
	padding: 10px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 11px;
	font-size: 14px;
	line-height: 24.3px;
}

/*############################################################login####################################################################################*/

.user-block .login-form {
	position: absolute;
	top: 59px;
	right: 127px;
	z-index: 3;
	padding: 15px; 
	padding-top: 20px;
	padding-left: 17px;
	padding-bottom: 13px;
	font-size: 14px;
	line-height: 24.3px;
}

.login:hover .login-form {
	display: block;
}

.login-form input {
	width: 210px;
	margin-bottom: 13px;
	padding: 10px 15px;
}

.login-form button {
	margin-top: 3px;
	margin-right: 16px;
	padding: 5px 0;
	padding-left: 31px;
	padding-right: 27px;
	font-size: 15px;
	line-height: 24.3px;
}

.login-form .for-enter {
	display: inline-block;
	vertical-align: top;
}

.login-form a {
	display: block;
	font-size: 13px;
	color: #333333;
	line-height: 21px;
}

.login-form a:hover {
	color: #ec593c;
}

/*###########################################################in-cart#######################################################################################*/

.user-block .in-cart {
	position: absolute;
	top: 59px;
	right: -1px;
	z-index: 3;
	width: 524px;
	padding-left: 16px;
	padding-top: 26px;
	font-size: 13px;
	line-height: 24.3px;
	color: #333333;
}

.in-cart ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.in-cart li {
	font-size: 0;
	margin-bottom: 20px;
}

.in-cart .btn-delete {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 9px;
	margin-right: 12px;
	font-size: 0;
	vertical-align: top;
	background: none;
	border: none;
	outline: none;
}

.in-cart .btn-delete::after,
.in-cart .btn-delete::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	width: 13px;
	height: 1px;
	background: #353535;
}

.in-cart .btn-delete::after {
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);
}

.in-cart .btn-delete::before {
	-moz-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg); 
	transform: rotate(-45deg);

}

.in-cart img {
	width: 33px;
	height: 33px;
	margin-right: 12px;
	vertical-align: top;
}

.in-cart span {
	font-size: 13px;
	line-height: 16px;
	display: inline-block;
	margin-top: 9px;
	vertical-align: top;
}

.in-cart .item {
	width: 218px;
	margin-right: 29px;
}

.in-cart .weight {
	margin-right: 3px;
}

.in-cart .price {
	margin-right: 28px;
}

.in-cart b {
	display: block;
	min-width: 125px;
	margin-top: 28px;
	margin-left: 391px;
	margin-bottom: 11px;
	font-size: 15px;
	line-height: 24.3px;
}

.user-block .in-cart::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 101px;
	width: 510px;
	height: 1px;
	background: #cacac7;

}

.in-cart > a {
	margin-left: 348px;
	margin-bottom: 21px;
	padding: 5px 22px;
	font-size: 15px;
	line-height: 24.3px;
}

/*#####################################################################contact-form######################################################################*/
@-webkit-keyframes uprise {
	0% {transform: translateY(3000px);}
	100% {transform: translate(0px);}
}

@keyframes uprise {
	0% {transform: translateY(3000px);}
	100% {transform: translate(0px);}
}

.animation-uprise {
	-webkit-animation: uprise 1s;
	animation: uprise 1s;
}

.overlay-contact-form {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.contact-form {
	position: absolute;
	top: 338px;
	left: 50%;
	margin-left: -222px;
	z-index: 3;
	width: 444px;
	padding-top: 14px;
	padding-left: 25px;
	padding-right: 8px;
	background: #f8f7f4;
	border-radius: 8px;
}

.contact-form p {
	margin: 0;
	margin-left: -1px;
	margin-right: 65px;
	margin-bottom: 18px;
	padding: 0;
	display: inline-block;
	font-size: 24px;
	line-height: 31px;
	vertical-align: top;
	color: #343434;
	font-weight: 500;
}

.contact-form .btn-off {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 0;
	vertical-align: top;
	background: none;
	border: none;
	outline: none;
}

.contact-form .btn-off::after,
.contact-form .btn-off::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 22px;
	height: 2px;
	background: #343434;
}

.contact-form .btn-off::after {
	top: 9px;
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);
}

.contact-form .btn-off::before {
	bottom: 9px;
	-moz-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg); 
	transform: rotate(-45deg);

}

.contact-form input {
	display: block;
	width: 251px;
	margin-bottom: 20px;
	padding-left: 14px;
	padding-top: 12px;
	padding-bottom: 11px;
}

.contact-form textarea {
	width: 388px;
	height: 136px;
	margin-bottom: 25px;
	padding: 9px 19px;
}

.contact-form .btn {
	margin-left: 291px;
	margin-bottom: 27px;
	padding: 10px 26px;
	padding-left: 27px;
	padding-right: 25px;
	font-size: 17px;
	line-height: 24.3px;
}

.pop-up-show {
	display: block;
}

