/*div {outline: 1px solid #ff00ff}
header, footer {outline: 1px solid white}
nav, section, article {outline: 1px solid yellow}
li, ul {outline: 1px solid red}
form {outline: 1px solid blue}
a, span, img{outline: 1px solid brown}
*/

body {
	padding: 0;
	margin: 0;
	width: 1200px;
	font-size: 16px;
	line-height: 22px;
	background: #849d8f;
	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
}

h1 {
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;
	outline: 1px solid #ff00ff;	
}

h2 {
	font-size: 35px;
	line-height: 48px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;/*в макете medium*/
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.pop-up {
	display: none;
}

.center {
	width: 1146px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-image: linear-gradient( #f26843, #e74a35);
	box-shadow: 0 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 45px;
}

.btn:hover {
	background-image: linear-gradient(#f58669, #ec6f5e);
	box-shadow: 0 2px 5px 0px rgba(160, 32, 11, 0.76);
}

.btn:active {
	background-image: linear-gradient(#d74632, #e1613e);
	box-shadow: inset 0 2px 2px 0px #952718;
}

/*###################################################header#####################################################*/

.main-header {
	position: relative;
	padding-left: 20px;
	padding-right: 27px;
}

.logo {
	position: relative;
	z-index: 1;
	float: left;
	width: 160px;
	padding-top: 9px;
	padding-left: 1px;
}

.main-navigation {
	position: relative;
	z-index: 1;
	float: left;
	width: 696px;
	min-height: 80px;
	margin-right: 26px;
}

.main-menu {
	margin: 0;
	padding: 18px 8px;
	font-size: 0; 
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.first-menu-level > a {
	display: block;
	padding: 9px 14px;
	font-weight: bold;
	color: #ffffff; 
}

.first-menu-level > a:hover {
 	color: #333333; 
 	text-decoration: none;	
	background: #f7f6f3;
	border-radius: 20px;
}

.first-menu-level > a:active {
	box-shadow: inset 0 2px 0 0 #686868;
}

.wrapper-search-user {
	position: relative;
	z-index: 1;
	float: left;
	width: 270px;
	min-height: 80px;
}

 .loupe {
	position: absolute;
	top: 22px;
	left: 8px;
	width: 32px;
	height: 32px;
	background: #9db1a5 url("../img/header/loupe.svg") no-repeat 9px;
	border-radius: 100%;

}

.loupe:hover {
	background: #f8f7f4 url("../img/header/black-loupe.svg") no-repeat 9px;;
}

.user-block {
	width: 228px;
	margin-left: 42px;
	padding-top: 22px;
	padding-bottom: 20px;
	font-size: 0;
}

.user-block > a {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 44px;
	padding-right: 16px;
	vertical-align: top;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff; 
	font-weight: 500;
	text-decoration: none;
	background: #9db1a5;
	border-radius: 45px;
}

.user-block .login::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: url("../img/header/enter.svg") no-repeat;

}

.user-block .login:hover {
	color: #333333;
	background: #f8f7f4;
}

.user-block .login:hover::after {
	background: #f8f7f4 url("../img/header/black-enter.svg") no-repeat;
}

.user-block .cart {
	position: relative;
	z-index: 0;
	margin-left: 10px;
	padding-right: 34px;
}

.user-block .cart::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: url("../img/header/cart.svg") no-repeat;
}

.cart:hover + .cart-full {
	display: block;
}

.user-block .cart-full {
	display: none;
	position: absolute;
	top: 22px;
	left: 142px;
	z-index: 1;
	margin-left: 10px;
	padding-right: 17px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 44px;
	font-size: 14px;
	line-height: 19px;
	color: #333333; 
	font-weight: 500;
	text-decoration: none;
	background: #f8f7f4;
	border-radius: 45px;
}

.user-block .cart-full::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: #f8f7f4 url("../img/header/cart-full.svg") no-repeat;
}


.extra {
	position: absolute;
	top: 70px;
	right: 27px;
}

.extra p {
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
	text-align: right;
}

.extra b {
	font-size: 22px;
	line-height: 29px;
	text-align: right;
}


/*########################################################footer################################################*/
.main-footer {
	width:1200px;
	padding: 0 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-social {
	float: left;
	width: 267px;
	min-height: 100px;
	margin-right: 26px;
}

.social-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 36px;
	margin-right: 10px;
	font-size: 0;
	vertical-align: top;
	border: 3px solid #c2cec7;
	border-radius: 100%;
	opacity: 0.8;
}

.social-btn:hover {
	margin-top: 34px;
	margin-right: 8px;
	border: 4px solid #c2cec7;
	opacity: 0.98;
}

.social-btn:active {
	box-shadow: inset 0 2px 1px 0 #888888;
}

.social-btn-tv {
	background: url("../img/footer/twitter.svg") no-repeat;
}

.social-btn-tv:active {
	background: url("../img/footer/twitter-push.svg") no-repeat;
}

.social-btn-inst {
	background: url("../img/footer/instagram.svg") no-repeat;
}

.social-btn-inst:active {
	background: url("../img/footer/instagram-push.svg") no-repeat;
}

.social-btn-fb {
	background: url("../img/footer/facebook.svg") no-repeat;
}

.social-btn-fb:active {
	background: url("../img/footer/facebook-push.svg") no-repeat;
}

.social-btn-vk {
	background: url("../img/footer/vk.svg") no-repeat;
}

.social-btn-vk:active {
	background: url("../img/footer/vk-push.svg") no-repeat;
}

.footer-information {
	float: left;
	width: 560px;
	min-height: 100px;
	margin-right: 100px;
}

.footer-information-wrapper {
	width: 332px;
	margin-left: 100px;
	margin-top: 30px;
	padding-left: 28px;
}

.footer-information a {
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
}

.footer-information a:hover {
	color: #ffbc9e;
}

.footer-information .providers {
	position: relative;
	margin-right: 27px;
	font-weight: bold;
}

.footer-information .providers::after {
	content: "";
	position: absolute;
	top: 2px;
	left: -20px;
	width: 15px;
	height: 15px;
	background: url("../img/footer/heart.svg") no-repeat;
}

.footer-information a:nth-child(2) {
	margin-right: 77px;
}

.footer-information a:nth-child(3) {
	margin-right: 40px;
}

.footer-copyright {
	float: left;
	width: 193px;
	min-height: 81px;
	padding-top: 19px;
}

.footer-copyright img {
	display: block;
	margin-top: 1px;
}

.footer-copyright span {
	font-size: 12px;
	line-height: 16px;
}

.footer-copyright span:first-child {
	display: inline-block;
	margin-left: 78px;
	vertical-align: top;
}

.footer-copyright a {
	color: #ffffff;
	font-size: 12px;
	line-height: 16px;
}

.footer-copyright a:hover {
	color: #ffbc9e;
}



/*######################################################goods######################################################*/
.goods {
	font-size: 0;
	min-height: 334px;
}

.goods-item {
	position: relative;
	display: inline-block;
	width: 279px;
	min-height: 334px;
	margin-right: 14px;
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 22px;
	vertical-align: top;
}

.goods-item:hover {
	margin-bottom: -48px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.goods-item:hover a {
	text-decoration: none;
}

.goods-item:nth-child(4n) {
	margin-right: -6px;
}

.goods-item:nth-child(4n+1) {
	margin-left: -6px;
}

.item-image {
	margin-bottom: 8px;
}

.price-absolute {
	position: absolute;
	top: 202px;
	left: 5px;
	text-shadow: 2px 2px 3px rgba(49, 50, 53, 0.5);
} 

.item-price {
	font-size: 45px;
	line-height: 59px;
	font-weight: bold;
	letter-spacing: 0px;
	word-spacing: -6px;
}

.item-weight {
	font-size: 30px;
	line-height: 39px;
	font-weight: bold;
}

.goods-item a {
	display: block;
	padding: 0 6px;
	color: #ffffff;
	text-align: center;
}

.goods-item a:hover {
	color: #ffbc9e;
	text-decoration: underline;
}

.goods-item .btn {
	display: none;
	margin-top: 13px;
	margin-left: 46px;
	margin-bottom: 22px;
	padding: 8px 27px;
	font-size: 15px;
	line-height: 24.3px;
}

.goods-item:hover .btn {
	display: block;
}
 
.hit::after {
	content: "";
	position: absolute;
	top: 0;
	left: 6px;
	width: 61px;
	height: 61px;
	background: #ffffff url("../img/index/hit.png") no-repeat;
	border-radius: 100%;

}

/*##################################################################################################################*/
/*######################################################index#####################################################*/
/*##################################################################################################################*/

/*######################################################slider####################################################*/
.slider {
	position: relative;
	min-height: 230px;
	margin-top: 300px;
	margin-bottom: 37px;
}

.slider-image {
	position: absolute;
	top:-380px;
	left: 50%;
	z-index: 0;
	transform: translate(-50%);
	width: 1046px;
}

.slider p,
.slider a {
	position: relative;
	z-index: 1;
}

.slide-raspberry p {
	width: 680px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0;
	padding-top: 12px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 900;
	text-align: center;

}
.slide-raspberry a {
	display: block;
	width: 280px;
	margin: 0 auto;
	font-size: 31.48px;
	line-height: 62.93px;
	text-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-lemon {
	display: none;
}

.slide-strawberry {
	display: none;
}

.sliders-nav {
	position: absolute;
	bottom: 25px;
	z-index: 1;
	width: 150px;
}

.drop {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background: #849d8f;
	border: 2px solid #ffffff;
	border-radius: 100%;
	vertical-align: top;
	outline: none;
}

.drop:hover {
	background: rgba(248, 247, 244, 0.4);
}

.drop:active {
	background: #ffffff;
}
/*######################################################banners##########################################################*/
.banners {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
}

.banner {
	float: left;
	width: 560px;
	min-height: 229px;
	border-radius: 15px;
}

.banner h2 {
	margin: 0;
	padding: 12px 18px; 
}

.banner p {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	padding-left: 19px;
	padding-right: 17px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	word-spacing: 0.3px;
}

.banner a {
	float: right;
	margin-right: 21px;
	padding: 0 21px;
	padding-top: 12px;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 18px;
	background-image: linear-gradient(#f26843, #ca3824);
}


.banner-first {
	margin-right: 26px;
	background: #8c0010 url("../img/index/banner/raspberry-background.png") no-repeat;
}

.banner-first a {
	margin-top: 5px;
	padding-top: 13px;
	padding-left: 23px;
	padding-right: 23px;
}

.banner-second {
	background: #61381d url("../img/index/banner/chocolate-background.png") no-repeat;
}

.banner-second h2 {
	padding-top: 10px; 
}

/*#####################################################advantage##########################################################*/
.advantages {
	min-height: 305px;
	margin-bottom: 40px;
	padding-top: 1px;
	font-size: 0;
	background: #e7dabb url("../img/index/advantages/wafer.jpg") no-repeat;
	border-radius: 15px;
}
.advantages h3 {
	margin: 0;	
	margin-bottom: 5px;
	padding: 0;
	padding-top: 22px;
	padding-left: 20px;
	word-spacing: 0.5px;
}

.advantages ul {
	padding: 0;
}

.advantages li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 560px;
	min-height: 85px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 26px;
	padding-top: 17px;
	padding-left: 76px;
	list-style-type: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
	word-spacing: 0px;
}
.advantages li::after {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
}

.advantages li:nth-child(2n) {
	margin-right: 0;
	padding-left: 58px;
}

.advantages li:nth-child(n+3) {
	padding-top: 20px;
}

.advantages li:last-child {
	padding-right: 15px;
}

.advantages li:first-child::after {
	top: 5px;
	left: 21px;
	background: url("../img/index/advantages/ice-cream-icon.svg") no-repeat;
}

.advantages li:nth-child(2)::after {
	top: 5px;
	left: 1px;
	background: url("../img/index/advantages/cow-icon.svg") no-repeat;
}

.advantages li:nth-child(3)::after {
	top: 8px;
	left: 21px;
	background: url("../img/index/advantages/leaf-icon.svg") no-repeat;
}

.advantages li:last-child::after {
	top: 8px;
	left: 1px;
	background: url("../img/index/advantages/thermometer-icon.svg") no-repeat;
}

/*#####################################################news-subs######################################################*/
.wrapper-news-subs {
	min-height: 220px;
	margin-bottom: 40px;
}

.news-subs	{
	width: 560px;
	min-height: 220px;
}

.news {
	float: left;
	background: #ffffff url("../img/index/strawberry-background.png") no-repeat;
	border-radius: 15px;
}

.news h4 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-top: 22px;
	padding-left: 18px;
	color: #5a5a5a;
	font-weight: 500;
}

.news a {
	display: block;
	width: 300px;
	padding-left: 18px; 
	color: #353535;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

.news a:hover {
	color: #ec5939;
}

.subscription {
	float: right;
	background: #f8f7f4 url("../img/index/zip-background.png") no-repeat;
	border-radius: 15px;
}

.subscription p {
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
	padding-top: 33px;
	padding-left: 25px;
	padding-right: 20px;
	color: #5a5a5a;
}

.subscription-form {
	padding-left: 26px;
}

.subscription-form input {
	width: 349px;
	margin-right: 8px;
	padding: 12px 8px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.subscription-form input:hover {
	padding: 11px 7px;
	border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
	padding: 11px 7px;
	color: #353535;
	font-weight: bold;
	border: 2px solid #8fbdec;
	outline: none;
}

.subscription-form input:focus::-webkit-input-placeholder {
	color: transparent;
}

.subscription-form input:focus::-moz-placeholder {
	color: transparent;
}

.subscription-form input:focus:-moz-placeholder {
	color: transparent;
}

.subscription-form input:focus:-ms-input-placeholder {
	color: transparent;
}

.subscription-form button {
	padding: 0 21px;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 17px;
	line-height: 24,3px;
}
 


/*#################################################location#########################################################*/
.location {
	width: 1200px;
	position: relative;
	margin-left: -27px;
}
.map-image {
	width: 1200px;
	height: 430px;
}

.contacts {
	position: absolute;
	right: 27px;
	top: 65px;
	background: #fdfefe;
	border-radius: 15px;
}

.contacts p {
	padding-left: 25px;
	padding-right: 56px;
	color: #343434;
	font-size: 14px;
	line-height: 20px;
}

.contacts b {
	font-size: 18px;
	line-height: 24px;
}

.adress {
	margin-bottom: 18px;
	padding-top: 15px;
}

.adress b {
	display: block;
	margin-top: 1px;
}

.phone {
	margin-bottom: 24px;
}

.phone b {
	display: block;
	margin-top: 4px;
	margin-bottom: -18px;
}

.contacts button {
	margin-left: 26px;
	margin-bottom: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 33px;
	font-size: 17px;
	line-height: 24.3px; 
}


/*##################################################################################################################*/
/*##############################################################catalog###############################################*/
/*######################################################################################################################*/

/*###########################################################breadcrumbs###############################################*/
.breadcrumbs {
	min-height: 26px;
	margin-top: 15px;
	margin-bottom: 0;
}

/*#############################################################main>h1#################################################*/
main>h1 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

/*############################################################filters###################################################*/

.filters-form {
	min-height: 140px;
	margin-bottom: 25px;
}

.filter {
	display: inline-block;
	vertical-align: top;
	min-height: 65px;
	margin-bottom: 10px;
}

.filter-sort {
	width: 195px;
	margin-right: 15px;
}

.filter-price {
	width: 220px;
	margin-right: 15px;
}

.filter-fat {
	width: 550px;
}

.filter-fillers {
	width: 705px;
	margin-right: 10px;
}

/*#####################################################paginator######################################################*/
.paginator {
	float: right;
	width: 190px;
	min-height: 36px;
	margin-top: 35px;
	margin-bottom: 34px;
}